<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Image</title>
    <link rel="stylesheet" href="/css/addImage.css">
</head>
<body>
        <nav>
           <p> <a href="/">Where's my Water</a> </p>

                <ul>
                          <li><a href="./contact">Contact</a></li>
                          <li><a href="./login">Log-In</a></li>
                          <li><a href="./upload">Upload</a></li>
                      </ul>
                  </li>
              </ul>
          </nav>
            <div id="show"></div>
          <script>
          var x=document.getElementById("show");
          function getLocation(){
              if (navigator.geolocation){
                  navigator.geolocation.getCurrentPosition(showPosition);
                }
              else{
                x.innerHTML="Geolocation is not supported by this browser.";
              }
          }
          var xx
          var yy
          function showPosition(position){
            xx = position.coords.latitude
            yy = position.coords.longitude
            x.innerHTML="Latitude: " + xx +
            "<br>Longitude: " + yy;
          }

          getLocation()
          </script>
<div id="addimage-area">
        <br>
        <br>
        <br>
        <br>
        <br>
           <span id="highlight"><h2>Add Image Here: </h2></span>


        <form action="/upload" method="POST">
          <select name = "Type">
            <option value="0">Bathroom</option>
            <option value="1">WaterFountain</option>
          </select>
            <br>
            <h3>Write your x coords</h3>
            <input type="text" id="x" name="x" class="textbox">
            <br>
            <h3>Write your y coords</h3>
            <input type="text" id="y" name="y" class="textbox">
            <br>
            <br>
            <input type="submit" value="Submit" id="submit">
            <input type="button" name="test" value="populate with current location" onclick="populate()">
        </form>
        <script>
    function populate(){
        document.getElementById('x').value=xx;  //set username
        document.getElementById('y').value=yy; //setpassword
        document.forms["formID"].submit();  //submit 'formID'
    }
</script>

</div>

























</body>
</html>
