<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>contact</title>
        <link rel="stylesheet" href="/css/contact.css">
        <meta name="viewport" contect="widthdevice-width, initial-scals=1">
    </head>
<body>
        <nav>
                <p> <a href="/">Where's my Water</a> </p>
                <ul>
                          <li><a href="./contact">Contact</a></li>
                          <li><a href="./login">Log-In</a></li>
                          <li><a href="./upload">Upload</a></li>
                          <li><img id='logo' src="Waterlogo.png" alt=""></li>
                      </ul>
                  </li>
              </ul>
          </nav>
<div class="contact-section">

    <h1>Contact Us</h1>

    <form class="contact-form" action="index.html" method="post">
        <input type="text" class="contact-form-text" placeholder="your name" name="name">
        <input type="text" class="contact-form-text" placeholder="your email" name="Email">
        <input type="text" class="contact-form-text" placeholder="your phone number" name="phone number">
        <textarea class="contact-form-text" placeholder="your message"></textarea>
        <input type="submit" class="contact-form-btn" value="Send">
    </form>
</div>
</body>
</html>
