<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Where Is My Water</title>
    <link rel="stylesheet" href="/css/home22.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top_nav">
        <ul class="nav_op_left">
            <li><a href="" class="nav_a"> WATER </a></li>
            <li><a href="" class="nav_a"> BATHROOM </a></li>
        </ul>
    </div>
<center>
<div id="show"></div>


  <div id="map"></div>

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWYNykoEI-bVYIgavHIqLYkV5jGy87GQ">
    </script>
      <script>

      function getLocation(){
          var x=document.getElementById("show");
          if (navigator.geolocation){
              navigator.geolocation.getCurrentPosition(showPosition);
            }
          else{
            x.innerHTML="Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position){
        yco = position.coords.latitude;
        xco = position.coords.longitude;
        console.log("after: " + [yco, xco]);
        initMap()
      }
       var yco, xco
       getLocation()

//---- get location of user//

        function initMap() {
          console.log()
          console.log("center" + pos)
          console.log("lat" + yco + "lng" + xco)
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: {lat: yco, lng: xco}
          });
          var pos = {lat: yco, lng: xco};
          //temp info window
          infoWindow = new google.maps.InfoWindow;
          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
//---- start crop
          // Add some markers to the map.
          // Note: The code uses the JavaScript Array.prototype.map() method to
          // create an array of markers based on a given "locations" array.
          // The map() method here has nothing to do with the Google Maps API.

//          var iconBase = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/';



                    var features = [

                          {%for i in locations%}

                          {position: new google.maps.LatLng({{i.xcoords}}, {{i.ycoords}})
                        } ,

                          {% endfor %}
                        ]



                  // Create markers.
                  for (var i = 0; i < features.length; i++) {
                    var marker = new google.maps.Marker({
                      position: features[i].position,
                      icon: "me.png",
                      map: map
                    });
                  };
                }


      </script>
     <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>




      </div>
</center>
    </div>

  </body>
</html>
