<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Where Is My Water</title>
    <link rel="stylesheet" href="/css/home22.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
        <p> <a href="/">Where Is My Water</a> </p>

      <ul>
                <li><a href="./contact">Contact</a></li>
                <li><a href="./login">About Us</a></li>
                <li><a href="./upload">Upload</a></li>
                <li><img id='logo' src="/home/jasonjiangny/Hackathons/waterlogo.png" alt="" /></li>
            </ul>
        </li>
    </ul>
</nav>
<center>
<div id="show"></div>


  <div id="map"></div>

      <script>
      
      function getLocation(){
          var x=document.getElementById("show");
          if (navigator.geolocation){
              navigator.geolocation.getCurrentPosition(showPosition);
            }
          else{
            x.innerHTML="Geolocation is not supported by this browser.";
          }
      }
      var yco, xco
      function showPosition(position){
        yco = position.coords.latitude;
        xco = position.coords.longitude;
        console.log([yco, xco]);
      }

       getLocation()

//---- get location of user//
        function initMap() {

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: {lat: yco, lng: xco}
          });
          infoWindow = new google.maps.InfoWindow;
          // Create an array of alphabetical characters used to label the markers.
          var labels = 'ABCDEFGHIJKLMNOPQRSTUVWSYZ';
          var pos = {lat: yco, lng: xco};

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          // Add some markers to the map.
          // Note: The code uses the JavaScript Array.prototype.map() method to
          // create an array of markers based on a given "locations" array.
          // The map() method here has nothing to do with the Google Maps API.
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });

          // Add a marker clusterer to manage the markers.
          var markerCluster = new MarkerClusterer(map, markers,
              {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [

          {%for i in locations%}
          {lat: {{i.xcoords}}, lng: {{i.ycoords}}},

          {% endfor %}
        ]
      </script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWYNykoEI-bVYIgavHIqLYkV5jGy87GQ&callback=initMap">
    </script>



      </div>
</center>
    </div>

  </body>
</html>
