<!DOCTYPE html>
   <html lang="en" dir="ltr">
       <head>
           <meta charset="UTF-8">
           <title>Transparent About Us</title>
           <link rel="stylesheet" href="/css/login.css">
           <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Playfair+Display&display=swap" rel="stylesheet">
            <meta name="google-signin-scope" content="profile email">
           <meta name="google-signin-client_id" content="241340643815-b5ill5ncpsagh5qq9p64q5ifb7ps341r.apps.googleusercontent.com">
        </head>
   <body>

        <nav>
                <p> <a href="/">Where's my Water </a></p>

                <ul>

                          <li><a href="./contact">Contact</a></li>
                          <li><a href="./login">About Us</a></li>
                          <li><a href="./upload">Upload</a></li>
                          <li><img id='logo' src="../waterlogo.png" alt=""></li>
                      </ul>
                  </li>
              </ul>
          </nav>
<hr>
<br>
<h1>About Us</h1>
<div style:text-align=center id="aboutUs">At Where's my Water, we believe that we can give people the most convenient alternative to water bottles, which contribute nearly 40% of our plastic waste is from single-use water bottles. We can provide the means to a world where everybody can contribute to help the community, as well as others outside of the community, into a new world where single-use plastics won't dominate our decisions. We can be a catalyst for people to help sustain our environment for future generations to come."
    </div>
</body>
</html>
